/*
* ================================
* IPN – CSII
* Sistema:     DIRECCION DE INVESTIGACION
* Modulo:      Convenios
* Sub modulo:  Revision
* Fecha:        junio 2017
* Descripcion:  Estilos para 3 secciones redimensionables
* Autor:       aaron quintana gomez
* ================================
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* barra de desplazamiento Y */
#dragbarY{
    position        : absolute;
    cursor          : col-resize;
    z-index         : 3;
    padding         : 1px;
    width           : 10px;  
    border-top      : 10px ;
    border-bottom   : 10px ; 
}

/* barra de desplazamiento X */
#dragbarX{
    position        :absolute;
    cursor          :row-resize;
    z-index         :3;
    padding         :1px;
    height          :10px;
    border-top      :10px #97A3AE;
    border-bottom   :10px #97A3AE;
}

/* bloque   */
#shield {
    top     :0;
    left    :0;
    width   :100%;
    position:absolute;
    height  :100%;
    z-index :4;
}

/* Contenedor de  secciones*/
#container {
    width   :98%;
    /*overflow:auto;*/
    position:absolute;
    top     :70px;
    bottom  :1%;
    height  :auto;
    background-color:#d1d2d4;
    font-size: 13px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

/* seccion o contenedor 1 */
#iframecontainer1 {
    float   :left;
	height  :100%;
	width   :50%;
}

/* seccion o contenedor 2 */
#iframecontainer2 {
    float   :left;
    height  :50%;
    width   :50%;
}
  
/* seccion o contenedor 3 */
#iframecontainer3 {
    float   :left;
    height  :50%;
    width   :50%; 
}

/* contenedor 2 */
#iframe2  {
    height         :100%;
    width          :100%;
}
/* contenedor 1*/
#iframe1  {
    height        :100%;
    width         :100%;
    padding-right : 1px;
}

  /* contenedor 3 */
#iframe3  {
    height        :100%;
    width         :100%;   
    padding-top   :1px;
     
}

/* contenedor 1 */
#iframewrapper1 {
    width           :99.5%;
    height          :100%;
    background-color: #ffffff;
    position        :relative;
    box-shadow      :0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.mq-wraper{
    position        :static;   
}

/* contenedor 2 */
#iframewrapper2 {
    width                     :100%;
    height                    :99%;   
    background-color          : #ffffff;
    -webkit-overflow-scrolling: touch;
    box-shadow                :0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* contenedor 3 */
#iframewrapper3 {
    width:100%;
    height:100%;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* contenedor 2 */
#iframeResult2 
{
    height          :100%;
    width           :100%;  
    background-color: #E5E8EB;
    overflow: scroll; 
    overflow-x: hidden;
    overflow-y: hidden;
}
  
/* contenedor 3 */
#iframeResult3{
    height          :100%;
    width           :100%; 
    background-color: #E5E8EB;  
    overflow: scroll; 
    overflow-x: hidden;
    overflow-y: hidden;
}

/* contenedor 1 */
#iframeResult1
{
    height          :100%;
    width           :100%;
    background-color: #E5E8EB;  
    overflow: scroll; 
    overflow-x: hidden;
    overflow-y: hidden;
}

.mq-encabezado {
    padding: 8px;
    overflow: hidden;
    background-color: #2B5760;
    color: #ffffff;
}



.mq-fondo{
    background-color: #ffffff;
}


/*scroll  para iframe1*/
.mq-scroll-y{
    overflow: scroll;
    overflow-x: hidden;

}

/*Scroll para iframe 3*/
.mq3-scroll-y{
    height: 98%;
    overflow: scroll;
    overflow-x:hidden;
}

/*Para hacer pdf responsivo dinamicamente*/
.mq-embed-responsive-item{
    height: 100px;
}

/*Para hacer pdf responsivo dinamicamente*/
.mq-embed-responsive-4by3 {
    padding-bottom: 100px;
}

/*Para hacer scroll responsivo contenedor 2*/
.mq-conv-f2{
    height: 100%;
    overflow: scroll; 
    overflow-x: hidden;
}

.mq-botonera{
    position: relative;
    float: right;
   
}